.general {
  &__top {
    display: flex;
    align-items: center;
    margin-bottom: 55px;

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      font-size: 24px;
      cursor: pointer;
      transition: all 0.25s;

      &:hover {
        background-color: #00234c;

        i {
          color: #fff;
        }
      }

      i {
        font-size: 24px;
        transition: all 0.25s;
      }
    }
  }

  &__content {
    width: calc(100% - 365px);
    margin: 30px 45px;
  }

  &__title {
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    font-weight: 500;
    font-style: normal;
    color: #333333;
    margin-right: 30px;
  }
}
