.home {
  &__cards {
    display: flex;
    flex-direction: column;
    gap: 30px;

    & > div {
      display: flex;
    }
  }

  &__first-row {
    gap: 30px;

    & > div {
      width: 33%;
      height: 225px;
    }
  }

  &__second-row {
    gap: 30px;

    & > div {
      width: 50%;
      height: 225px;
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    background-color: #ededed;
    border-radius: 3px;
    box-shadow: 2px 0px 12px rgba(40, 40, 40, 0.2);
    padding: 15px;
  }

  &__card-title {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    color: #333333;
  }

  &__card-text {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    text-align: left;
    color: #333333;
    margin: 15px 0px 0px;
  }

  &__chart {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 200px;
  }
}
