.home {
  &__cards {
    display: flex;
    flex-direction: column;

    & > div {
      display: flex;
    }
  }

  &__first-row {
    & > div {
      width: 32%;
      height: 300px;
    }
  }

  &__second-row {
    & > div {
      width: 48%;
      height: 30px;
    }
  }

  &__card {
    background-color: #ddd;
  }
}
