.nav {
  position: relative;
  overflow: hidden;
  height: 100vh;
  background-color: #00234c;
  border-right: 1px solid #ccc;
  transition: all 0.25s;

  &[data-state="open"] {
    width: 275px;
  }

  &[data-state="close"] {
    width: 75px;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 20px 0px 23px;
    margin-bottom: 40px;
  }

  &__logo-icon {
    font-size: 26px;
  }

  &__menu-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 24px;
    cursor: pointer;
    transition: all 0.25s;

    &:hover {
      background-color: #eee;
    }
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li {
    padding: 0px 15px;
  }

  &__link {
    display: flex;
    align-items: center;
    height: 50px;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    color: #ffffff;
    text-decoration: none;
    border-radius: 6px;
    padding: 0px 30px;
    transition: all 0.25s;

    &:hover {
      background-color: #003f87;
    }

    i {
      font-size: 24px;
      color: #ffffff;
      width: 30px;
      margin-right: 20px;
    }
  }

  &__logout {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 20px;
    left: 0px;
    width: calc(100% - 30px);
    padding: 0px 15px;

    a {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      height: 50px;
      font-family: "Montserrat", sans-serif;
      font-size: 16px;
      font-weight: 500;
      font-style: normal;
      color: #ffffff;
      border-radius: 6px;
      text-decoration: none;
      padding-left: 30px;
      transition: all 0.25s;

      &:hover {
        background-color: #003f87;
      }

      i {
        font-size: 24px;
        color: #ffffff;
        width: 30px;
        margin-right: 20px;
      }
    }
  }
}
