.register {
  display: flex;
  width: 100%;
  min-height: 100vh;

  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    background-color: #ffffff;

    @media (max-width: 991px) {
      display: none;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    background-color: #00234c;

    @media (min-width: 992px) {
      img {
        display: none;
      }
    }
    @media (max-width: 991px) {
      width: 100%;
      background-color: #ffffff;

      img {
        width: 200px;
      }
    }
  }

  h1 {
    font-family: "Open Sans", sans-serif;
    font-size: 48px;
    font-weight: 500;
    font-style: normal;
    color: #ffffff;
    margin-bottom: 15px;

    @media (max-width: 991px) {
      color: #333333;
    }
  }

  p {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    color: #ffffff;
    margin: 0px 0px 30px;

    @media (max-width: 991px) {
      color: #333333;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    padding: 30px;

    label {
      font-family: "Montserrat", sans-serif;
      font-size: 16px;
      font-weight: 500;
      font-style: normal;
      color: #ffffff;
      margin-bottom: 5px;

      @media (max-width: 991px) {
        color: #333333;
      }
    }
    input,
    select {
      background-color: #fff5f5;
      outline: none;
      border: none;
      height: 45px;
      max-width: 400px;
      width: 100%;
      border-radius: 6px;
      margin-bottom: 15px;
      text-indent: 10px;
      transition: all 0.25s;

      &:focus {
        background-color: #feefef;
      }
    }

    button {
      cursor: pointer;
      font-family: "Montserrat", sans-serif;
      font-size: 16px;
      font-weight: 500;
      font-style: normal;
      color: #001a38;
      background-color: #ffffff;
      height: 45px;
      border-radius: 6px;
      transition: all 0.25s;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}
