// ClientListView

.schedule-list {
  &__data {
    width: 100%;
  }

  &__options {
    border-bottom: 2px solid #ddd;
    padding: 8px 0px;
  }

  &__categories {
    position: relative;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
    color: #555;
    padding: 0 15px;

    &[data-state="true"] {
      color: blue !important;

      &::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: -9px;
        width: 100%;
        height: 1px;
        background-color: blue;
      }
    }
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
  }

  &__head-row {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr 0.25fr 0.25fr;
    background-color: #f3f3f3;
    padding: 15px;

    & > span {
      align-items: center;
      font-family: "Montserrat", sans-serif;
      font-size: 16px;
      font-weight: 600;
      font-style: normal;
      color: #333333;
      text-align: left;
    }
  }

  &__row {
    position: relative;
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr 0.25fr 0.25fr;
    height: 30px;
    background-color: #ffffff;
    padding: 15px;
    transition: all 0.25s;

    &:hover {
      background-color: #eeeeee;
    }

    & > a {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }

    & > span {
      align-self: center;
      font-family: "Montserrat", sans-serif;
      font-size: 16px;
      font-weight: 600;
      font-style: normal;
      color: #333333;
      text-align: left;
    }
  }

  &__time {
    font-size: 14px;
    color: #888888;
  }

  span {
    position: relative;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    color: #333333;
    text-align: left;
    z-index: 9;
  }

  &__delete > a,
  &__edit > a {
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    color: #333;
    z-index: 9;
    transition: all 0.25s;

    &:hover {
      background-color: #f6d044;
    }
  }
}
